<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <div style="text-align:center; color:red;display: flex;flex-direction: column; justify-content: center; vertical-align: middle;height: 90vh;">
        <h1 style="margin: 0;"><%= error.status %> <%= title %></h1>
        <h2 style="color: rgb(25, 24, 39)"><%= error.message %></h2>
        <hr/>
        <h5 style="color:#000">[STACK]</h5>
        <p style="color: rgb(64, 64, 71);line-height: 25px;"><%= error.stack %></p>

    </div>
</body>
</html>